* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Header Section Style **/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 0;
    width: 80%;
    margin: auto;

}

.logo-section {
    font-size: 24px;
    font-weight: bold;
}


.menu-section ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu-section ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.menu-section ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #111;
    transition: width 0.3s;
}

.menu-section ul li a:hover::after {
    width: 100%;
}

/** Banner Section Style **/

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    background-color: #f7f6f0;
    width: 80%;
    margin: auto;
}

.left-container,
.right-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.middle-container {
    text-align: center;
    max-width: 400px;
}

.middle-container h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

.middle-container hr {
    width: 200px;
    margin: 10px auto;
    border: 2px solid #111;
}

.middle-container p {
    font-size: 18px;
    color: #555;
    width: 280px;
    line-height: 24px;
}